<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.stopsmoke">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StopSmoke">
        <activity android:name=".UserInfoActivity"></activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".BaseActivity" />
        <activity android:name=".Logowanie" />
        <activity android:name=".DaneDoRejestracji" />
        <activity android:name=".Rejestracja" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".OsiagnieciaPorazka"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".OsiagnieciaSukces"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ZdrowieDodajWynik" />
        <activity android:name=".OszczedzajCele" />
        <activity android:name=".Zerowanie" />
        <activity android:name=".Zdrowie" />
        <activity
            android:name=".Oszczedzaj"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".Osiagniecia" />
        <activity android:name=".Ochota_na_papierosa" />
        <activity android:name=".LoginActivity">   //tu bylo main activity, potem logowanie
            //tu MainActivity
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>